html 
{
	background-color: #222;
}

body
{
	line-height: 23px;
	font-family: helvetica, sans-serif;
}

a {
	text-decoration: none;
	font-size:34px;
	margin-top:5px;
	list-style:none;
	color:white;
}
li
{
	margin:5px;
	list-style: none;
}

h1
{
	color:white;
	text-decoration:underline;
	font-size:30px;
}